
.project-container {
    height: auto;
    width: 100%;
    background-color: rgb(15, 21, 75);
    min-height: 100vh;
  }
  
  
  .project-header {
    width: 100%;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }

  /* Project cards */

.project-cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
  }
  
  .project-card {
    height: auto;
    width: 550px;
    background-color: rgb(16, 22, 80);
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 4px rgba(48, 190, 143, 0.245);
    /* border-top-left-radius: 80px 80px; */
    border-bottom-right-radius: 80px 80px;
    transition: .4s;
    cursor: default;
  }
  
  .project-card:hover {
    box-shadow: 0px 0px 8px 10px rgba(44, 212, 156, 0.185);
    transition: .5s;
  }
  
  .project-card .card {
    display: flex;
    flex-direction: column;
    height: 270px;
  }
  
  .card-options {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 10%;
  }
  
  .card-description-container {
    width: auto;
    height: 90%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(48, 190, 143, 0.756);
    flex-direction: column; */
    margin: 20px;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 30% 60%;
    gap: 10px;
  }
  
  .project-name-container {
    /* grid-column: 1 / span 2;
    grid-row: 2; */
   /*  display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    margin-left: 20px;

  }

  .project-name-header {
    /* height: 30px;
    width: 100%; */
    /* display: flex;
    align-items: center; */
    color: rgb(37, 233, 168);
    font-size: 28px;
  }

  
  .project-stack {
    grid-column: 2;
    grid-row: 1 / span 2;
    width: 60px;
    list-style-type: none;
   ;

  }

  .project-stack-item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
  }

  .stack-icon {
    height: 30px;
  }

  .project-description-container {
   /*  display: flex;
    align-items: flex-start; */
   /*  grid-column: 1 / span 2;
    grid-row: 4; */
    min-width: 200px;
    margin-left: 20px;

  }
  
  .project-description {
    font-size: 20px;
    color: rgba(37, 233, 168, 0.849);
  }

  .card-options button {
    width: 40px;
    height: 35px;
    margin: 5px;
    background-color: rgba(37, 233, 168, 0.945);
    transition: .5s;
  }

  .card-options button:hover {
    background-color: rgba(37, 233, 168, 0.642);
  }

  .top-line {
    align-self: flex-end;
    width: 130px;
    height: 5px;
    background-color: rgb(37, 233, 168);
    border-radius: 10px;
  }

  .bottom-line {
    align-self: flex-start;
    width: 130px;
    height: 5px;
    background-color: rgb(37, 233, 168);
    border-radius: 10px;
  }

  .projectLink {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(16, 22, 80);
  }